[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-environ = "*"
psycopg2-binary = "*"
pillow = "*"
pre-commit = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
